body {
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothiv Pro", "Meiryo,Osaka", sans-serif;

  -moz-width: 100%;
  -moz-height: 100%;

  -ms-width: 100%;
  -ms-height: 100%;

  -webkit-width: 100%;
  -webkit-height: 100%;
}

/* スマホサイズ */
@media screen and (max-width: 480px) {

  .header {
    height: 60px;
    border: 2px black;
  }

  .header_title {
    font-size: 10px;
    color: #333;
    margin-top: 7px;
  }

  .header img {
    width: 90px;
    height: 30px;
    margin-top: 7px;
  }

  .contact {
    background-color: #DA6B63;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 12px;
    margin-left: 180px;
    }

  .contact img {
    width: 21px;
    height: 25px;
    margin-left: 20px;
  }

  .contact p {
    margin: 5px;
  }

  .header_flex {
    display: flex;
  }


  .main_title img {
    width: 100%;
  }

  .main_title {
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }


  .main_title .stable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
  }
 
  #yellow {
    background-color: #EBB94D;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .yellow .white {
    background-color: #da6b63;
    border-radius: 10px;
    
  }

  .only_red {
    color: #c7244d;
    background-color: white;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
  }

  #yellow p {
    text-align: center;
  }

  #yellow .contact_yellow {
    background-color: #DA6B63;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  

}/* スマホサイズ終わり */

/* タブレットサイズ */
@media screen and (max-width: 896px) {



}/* タブレットサイズ終わり */

/* PCサイズ */
@media screen and (max-width: 1024px) {


  
}/* PCサイズ終わり */

/* 大きいPCサイズ */
@media screen and (min-width: 1025px) {


  
}/* 大きいPCサイズ終わり */

